{
  "character": "",
  "costume": "",
  "models": [],
  "character_costumes": {},
  "model_action_settings": {},
  "language": "",
  "fps": 120,
  "opacity": 1.0,
  "dark_theme": false,
  "vsync": true,
  "game_topmost": false,
  "hide_live2d_model": false,
  "live2d_idle_actions_enabled": true,
  "live2d_quality": "balanced",
  "live2d_scale": 70,
  "auto_start": false,
  "drag_locked": false,
  "pet_mode": "live2d",
  "window_x": -1,
  "window_y": -1,
  "window_width": 280,
  "window_height": 350,
  "pixel_window_x": -1,
  "pixel_window_y": -1,
  "llm_api_url": "",
  "llm_api_key": "",
  "llm_model_id": "",
  "llm_aux_api_url": "",
  "llm_aux_api_key": "",
  "llm_aux_model_id": "",
  "llm_aux_enable_thinking": null,
  "llm_aux_vision_fallback_enabled": false,
  "llm_api_mode": "chat_completions",
  "llm_web_search_enabled": false,
  "llm_web_search_engine": "bing_cn",
  "llm_web_search_show_sources": false,
  "llm_hide_tool_call_details": true,
  "llm_mcp_enabled": false,
  "llm_mcp_use_native": true,
  "llm_mcp_servers": [],
  "computer_use_enabled": false,
  "computer_use_auto_detect": true,
  "computer_use_send_screenshots": true,
  "computer_use_max_screenshot_width": 1280,
  "computer_use_allow_screenshot": true,
  "computer_use_allow_mouse": false,
  "computer_use_allow_keyboard": false,
  "computer_use_allow_clipboard": false,
  "computer_use_allow_wait": true,
  "llm_api_profiles": [],
  "llm_active_api_profile": "",
  "user_name": "",
  "user_avatar_color": "#e4004f",
  "user_avatar_path": "",
  "chat_avatar_paths": {},
  "group_chat_sidebar_ratio": 0.28,
  "group_chat_sidebar_collapsed": false,
  "pov_mode": "",
  "pov_custom_prompt": "",
  "pov_custom_personas": [],
  "pov_role_character": "",
  "llm_enable_thinking": null,
  "llm_show_reasoning": false,
  "compact_ai_window_enabled": false,
  "compact_ai_window_background_color": "#e4004f",
  "compact_ai_window_text_color": "#24242a",
  "compact_ai_window_opacity": 44,
  "compact_ai_window_font_size": 12,
  "ai_event_overlay_enabled": false,
  "ai_status_port_enabled": false,
  "ai_status_port": 38472,
  "ai_status_token": "",
  "chat_integration_enabled": false,
  "chat_integration_overlay_enabled": true,
  "chat_integration_include_context": true,
  "chat_integration_port": 38473,
  "chat_integration_token": "",
  "tts_enabled": false,
  "tts_api_url": "http://127.0.0.1:9880/",
  "tts_language": "Japanese",
  "tts_reference_character": "",
  "tts_streaming": true,
  "tts_temperature": 0.9,
  "tts_translate_to_selected_language": true,
  "media_overlay_enabled": true,
  "media_control_style": "ghost_acrylic",
  "weather_enabled": false,
  "weather_private_key": "",
  "weather_key_id": "",
  "weather_project_id": "",
  "weather_api_host": "",
  "weather_city": ""
}
